
.first-sec{
    margin-top: 50px;
    margin-left: 200px;;
    min-height: 300px;
    width: 35%;
    float: left;
}
.half-width{
    width: 100%;
    float: left;
}
.hello{
    color: navy;
    font-weight: bold;
}
.name{
    color: magenta;
    font-weight: bold;
}
.anchor{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(30deg,gray,rgb(90, 12, 12));
}
.second-sec{
    margin-top: 50px;
    margin-right: 165px;
    min-height: 300px;
    width: 35%;
    float: right;
}
.half-width-right img{
    width: 100%;
}
.third-sec{
    margin-top: 100px;
    margin-left: 5%;
    min-height: 300px;
    width: 35%;
    float: left;
    
}
.fourth-sec{
    margin-top: 100px;
    margin-right: 165px;
    min-height: 300px;
    width: 35%;
    float: right;
}
.project{
    min-height: 600px;
    width: 100%;

}
.work-h1{
    padding-top: 1000px;
    margin-left: 500px;
    min-height: 70px;
    width: 100%;
}
.work-h1 span{
    color: red;
}
#img1{
    float: left;
    width: 25%;
}
#img2{
    float: center;
    width: 25%;
}
#img3{
    float: right;
    width: 25%
    
}
